@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 dark:bg-black text-neutral-900 dark:text-neutral-50 antialiased;
  }
}

/* KEEPING LEGACY STYLES FOR NOW UNTIL COMPONENTS ARE MIGRATED */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 dark:text-neutral-50 antialiased;
  }
}

/* KEEPING LEGACY STYLES FOR NOW UNTIL COMPONENTS ARE MIGRATED */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
